// --------- variables styles -----------
$color-blue1: #1565c0;
$color-blue2: #00acc1;
$color-blue3: #0097b2;
$color-white: #ffffff;
$color-black: #0000;
$color-gray: #6c6c6c;

$height-full-screen: 100vh;

$spacing-100: 6.25rem;
$spacing-80: 5rem;
$spacing-50: 3.125rem;

$bg-black: #1E201E;