/** @format */
// --------- variables styles -----------
$color-blue1: #1565c0;
$color-blue2: #00acc1;
$color-blue3: #0097b2;
$color-white: #ffffff;
$color-gray: #6c6c6c;
$height-full-screen: 100vh;
$spacing-100: 6.25rem;
$spacing-80: 5rem;
$spacing-50: 3.125rem;

// ---------------------------------------

// ---------- start global styles --------
.colorBlue1 {
  color: $color-blue1 !important;
}
.colorBlue2 {
  color: $color-blue2 !important;
}
.colorBlue3 {
  color: $color-blue3 !important;
}
.colorWhite {
  color: $color-white !important;
}

.colorChanging {
  font-weight: bold;
  animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
  0% {
    color: $color-blue2;
  }
  25% {
    color: #e3f4f4;
  }
  50% {
    color: $color-blue3;
  }
  75% {
    color: #d3f4f4;
  }
  100% {
    color: $color-blue3;
  }
}

#title {
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
  color: $color-blue2;
  font-size: 50px;
  text-transform: uppercase;
  @media screen and (max-width: 576px) {
    font-size: 28px;
    margin-bottom: 1rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 40px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1824px) {
    font-size: 50px;
    margin-bottom: 50px;
  }
  @media screen and (max-height: 440px) {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

// -------- end global styles --------
