/** @format */

@import "/src/styles/_variables.scss";

// --------- start about us component home page -----------
#aboutus {
  height: 100%;

  #aboutIntroduce {
    font-size: 32px;
    text-align: center;
    color: $color-blue1;
    font-weight: bold;
    margin: 0 0 2rem 0;

    @media screen and (min-width: 360px) {
      font-size: 20px;
      margin-bottom: 1rem;
    }
    @media screen and (min-width: 1280px) {
      font-size: 24px;
      margin-bottom: 2rem;
    }
  }
  #aboutImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  #aboutLabel {
    font-size: 24px;
    font-weight: bold;
    color: $color-blue2;
    margin: 0 0 1rem 0;
    @media screen and (min-width: 360px) {
      font-size: 20px;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 360px) {
      font-size: 24px;
      margin-bottom: 1rem;
    }
  }
  #aboutContent {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    @media screen and (min-width: 360px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 360px) {
    margin-bottom: 2rem;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 3rem;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 4rem;
  }

  // @media screen and (max-height: 440px) {
  //   margin: 5rem 0;
  // }
}
// ---------- end about us component home page --------
