/** @format */

// --------- start component modal service page ---------
#modSerName {
  font-size: 32px;
  font-weight: 700;
  color: #1565c0;
  line-height: 40px;
  padding: 2rem;
  @media screen and (min-width: 360px) {
    font-size: 20px;
    line-height: 25px;
    padding: 0;
  }
  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 30px;
    padding: 1rem 1rem 0 1rem;
  }
  @media screen and (min-width: 1280px) {
    font-size: 2rem;
    padding: 2rem 2rem 0 2rem;
  }
  @media screen and (min-width: 1824px) {
    font-size: 35px;
    padding: 2rem;
  }
}
#modSerDesc {
  font-size: 18px;
  color: #6c6c6c;
  padding: 0 2rem;
  @media screen and (min-width: 360px) {
    font-size: 14px;
    padding: 0;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    padding: 1rem 1rem 0 1rem;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    padding: 2rem 2rem 0 2rem;
  }
  @media screen and (min-width: 1824px) {
    font-size: 25px;
    padding: 2rem;
  }
}
// --------- end component modal service page ---------
